body{
    margin: 0;
    
    
}
.container{
    max-width: 720px;
      
}
.progress__bar{
    display :flex;
  
    background: linear-gradient(to right, rgb(94, 255, 0), rgb(249, 43, 246)); 
    height: 10px;
    border-radius: 5px;
    width: 0px;
    margin-top: 20px;

}
.whyisthis{
    display:none;
    margin-top: 25px;
    width: 760px;
    border-radius: 15px;
    height: 100px;
    background: rgba(225, 225, 225, 0.5);

}
.why__text{
    font-size: 24px;
    text-align: center;
    padding: 10px 10px;
}
.footer__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 20px;
    justify-content: space-evenly;
}
.menu__item{
    display: flex;
}
.menu__list{
    margin-right: 30px;
    list-style: none;
}
.menu__link{
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;  
    transition: color .5s;
    text-decoration: none;
    color: inherit;
}
.menu__link:hover{
    color: #CB0E0E;
}

.tst{
    
    display: flex;
    background-image: url(../../images/jojo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    justify-content:center;

}
.test {
    max-width: 700px;
    width: 100vh;
    background: linear-gradient(to bottom right, rgb(164, 148, 236), rgb(14, 176, 179));
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.test__theme {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;

}
.test__question {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2em;
    color: #fff;
}
.test__answers {
    margin-bottom: 25px;
    padding: 10px;
  
}
.test__answer{
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid #333;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    
}
.test__answer:not(:last-child) {
    margin-bottom: 10px;
}
.test__answer.valid {
    background-color: rgba(31, 227, 31, 0.5);
}
.test__answer.invalid {
    background-color: rgba(251, 3, 3, 0.5);
}
.test__btn {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    display: inline-block;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(163, 226, 191), rgb(245, 111, 243));  
}
.test__btn.disable {
    pointer-events: none;
    opacity: 0.5;

}
.test__result{
   display: flex;
   flex-direction: column;
}
.test__result-img{
    display: none;
    background-image: url(images/dio.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;

}
.test__result-status{
    display: none;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;

}