body{
    
    display: flex;
    background-image: url(../images/jojo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.test {
    max-width: 700px;
    width: 100vh;
    background: linear-gradient(to bottom right, rgb(164, 148, 236), rgb(14, 176, 179));
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.test__theme {
    text-align: left;
    font-size: 40px;
    margin-bottom: 25px;

}
.test__question {
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 1.2em;
    color: #fff;
}
.test__answers {
    margin-bottom: 25px;
    padding: 10px;
  
}
.test__answer{
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid #333;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    
}
.test__answer:not(:last-child) {
    margin-bottom: 10px;
}
.test__answer.valid {
    background-color: rgba(31, 227, 31, 0.5);
}
.test__answer.invalid {
    background-color: rgba(251, 3, 3, 0.5);
}
.test__btn {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 20px;
    font-size: 24px;
    display: inline-block;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(163, 226, 191), rgb(245, 111, 243));  
}
.test__btn.disable {
    pointer-events: none;
    opacity: 0.5;

}
.test__result{
   display: flex;
   flex-direction: column;
}
.test__result-img{
    display: none;
    background-image: url("../images/dio.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;

}
.test__result-status{
    display: none;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;

}